.item{
    background-color: white;
    border-radius: 4px;
    width: 300px;
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
}
.status{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.online{
    background-color: green;
}

.offline{
    background-color: red;
}
.avatar{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 4px;
}